@model ChatVM;
@{
    ViewData["Title"] = "Chat";
    Layout = "_Layout";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/chat.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div id="screen">
        <div id="left-div">

            <button class="top-btn" onclick="openAddFriend()">+</button>

            <span style="text-align: center; margin-top: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                <span style="font-size: large; ">Friends</span>
            </span>
            
            @{
                foreach (ConnectionVM cvm in Model.Connections)
                {
                    foreach (UserDetails ud in cvm.UserList)
                    {
                        <div class="chat-session" @if (cvm.Id == Model.SelectedConnection) { <text> style="background-color:azure;" </text> }>
                            <div>
                                <a title="@ud.Email" href="/chat/" + @cvm.Id id="@ud.Id" class="profile-name">@ud.DisplayName</a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div id="chatbox">
            <div class="row">
                <div class="col-12">

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul id="messagesList">
                        @{
                            foreach (MessageVM m in Model.Messages)
                            {
                                if (m.UserId.Equals(Model.CurrentUserId))
                                {
                                    <text>
                                        <li class="user-class">@m.Content</li>
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        <li class="nonuser-class">@m.Content</li>
                                    </text>
                                }
                            }
                            }
                    </ul>
                </div>
            </div>
        </div>
        <div id="messagebox" style="text-align: center;">
            <form name="message" action="" defaultbutton="sendButton">
                <input style="display:none" type="text" id="userInput" />
                <input name="usermsg" type="text" id="messageInput" />
                <input name="submitmsg" type="submit" id="sendButton" value="Send" />
            </form>

        </div>

        <div id="id04" class="modal">
            <div class="modal-content animate">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="add-friend-header-container">
                    <label class="add-friend-header">Add friend</label>
                </div>
                <div class="friend-container">
                    <label for="friend"><b>Add your friends ID here:</b></label> <br />
                    <input id="friendInput" type="text" value="" placeholder="Enter friend ID" name="friend" required> <br>
                    <button class="add-friend-button" onclick="addFriend()">Confirm</button>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    //Global connection object
    var session = new Object();
    session.currenuserid = '@Model.CurrentUserId';
    session.friendsid = '@Model.CurrentFriendId';
    session.id = '@Model.SelectedConnection';
    $(document).ready(function () {
        
        updateScroll();
    });
</script>
<script type="text/javascript" src="~/js/settings.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="~/js/chat.js"></script>

